//VARIABLES

$project-font: "Josefin Sans", sans-serif;


// Colors

//Primary

$BrightBlue: #3a7bfd;
$Background: linear-gradient(0deg,hsl(192, 100%, 67%) 0%,hsl(280, 87%, 65%) 100%);


// Neutral

// Light Theme

$VeryLightGray: #fafafa;
$VeryLightGrayishBlue: #e4e5f1;
$LightGrayishBlue: #d2d3db;
$DarkGrayishBlue: #9394a5;
$VeryDarkGrayishBlue: #484b6a;

// Dark Theme

$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: #cacde8;
$LightGrayishBlue_hover: #e4e5f1;
$DarkGrayishBlue: #777a92;
$VeryDarkGrayishBlue: #4d5066;
$VeryDarkGrayishBlue: #393a4c;