.todocomponentcontainer {
    @include d-flex(space-around, center);
    flex-direction: row;
    width: 540px;
    height: 64px;
    padding: 0.5rem;
    border-top: 1px solid #E3E4F1;
    border-bottom: 1px solid #E3E4F1;
    background-color: white;

    &--largeradio {
        appearance: none;
        font: inherit;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        cursor: pointer;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
        box-shadow: 5px 5px 34px 1px #bababa;

        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            background-color: $VeryDarkGrayishBlue;
        }

        &:checked {
            //   background: url("../assets/img/icon-check.svg") no-repeat 0 0;
            &::before {
                transform: scale(1);
            }
        }
    }

    &--text {
        font-size: 1rem;
        font-family: "Josefin Sans", cursive;
        font-weight: 700;
        font-style: normal;
        color: $VeryDarkGrayishBlue;
        width: 70%;

        &--tachado {
            @extend .todocomponentcontainer--text;
            text-decoration: line-through;
            color: $LightGrayishBlue;
        }
    }

    &--cross {
        visibility: hidden;
        width: 18px;
    }

    &:hover {
        background-color: #cfa5a5;

        .todocomponentcontainer--cross {
            visibility: visible;
            cursor: pointer;
        }
    }
}

.newtodo {
    @extend .todocomponentcontainer;
    grid-area: newtodo;
    z-index: 1;
    margin-bottom: 1rem;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);

    &--form {
        width: 100%;
    }

    &--input {
        font-family: "Josefin Sans";
        padding: 0.5rem;
        width: 100%;
        border: none;
        border-radius: 5px;
        &:focus,
        &:focus-visible {
            border: 1px solid $VeryLightGrayishBlue;
            outline: none;
        }
    }
}